.container{
    background-color: white;
}


img{

    width: 200px;
    height: 200px;
    justify-content: center;
    margin-top: 50px;
    margin-left: 500px;
}
.generator{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 680px;
}
#mybutton{
    border: none;
    background-color: white;
    font-weight: 900;
    font-size: 2rem;
    margin-top: 30px;
    margin-left:650px;
    padding: 20px;
    box-shadow: 2px 2px 3px 3px  black;
    align-items: center;
    cursor: pointer;
    
}
#label{
    border: none;
    background-color: white;
    color: slategray;
    font-weight: 900;
    font-size: 2rem;
    margin-top: 30px;
    margin-left:625px;
    padding: 20px;
    box-shadow: 2px 2px 3px 3px  black;
    align-items: center;
    
}
#mybutton:active{
    transform: scale(0.95);
}

